@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fcfcfc;
  color: #1c1c1c;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f5f5f0;
}
::-webkit-scrollbar-thumb {
  background: #d0